# Ignore Logs folder (raw data)
Logs/
Logs/*

# Ignore Python cache files
__pycache__/
*.py[cod]

# Ignore environment files
.env
*.env

# Ignore virtual environment folders
venv/
.venv/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore log files
*.log

# Ignore compiled files
*.pyc
*.pyo

# Ignore build artifacts
build/
dist/
*.egg-info/
